/* TODO: 此css文档为网站项目的各个网页布局格式的初始设置，
            你可以直接删除此css文件，改为你使用的css，或者在此基础上添加你的css代码或者文件
            但一定要保证下面提及到的元素都能被渲染到 */

html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
h2 { font-family: serif; color: #377ba8; margin: 0.5rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.post{ margin: 20px;background-color: #ffffff;}
.comment {
margin-left: 20px;
    margin-right: 10px;
    background-color: #e6f7ff;
    padding: 10px;
    border-radius: 5px;
}

 .rating-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 .rating-body{
     display: block;
 }
.avg-rate-container {
    display: flex;
    justify-content: center;
     color: #888888;
}
.description {
    flex: 1;
}
.stars {
    position: relative;
    display: inline-block;
    color: #ccc; /* 星形未涂色时的颜色 */
}

.stars .star {
    font-size: 20px;
    color: #FFD700; /* 星形的黄色 */
    position: relative;
}

.stars .star::before {
    content: "★";
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0; /* 初始宽度 */
    color: #FFD700;
}


/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.5em;
}

/* Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;  /* 使头像显示为圆形 */
<<<<<<< HEAD
}
=======
}
>>>>>>> loginFront
